img{
    height: 450px;
}

.introsection{
    margin-top: 150px;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    gap: 250px;
    justify-content: center;
    
}
.introsection2{
    display: flex;
    width: 80%;
    gap: 250px;
    background: rgba(255,255,255,0.4);
-webkit-backdrop-filter: blur(7px);
backdrop-filter: blur(7px);
border: 1px solid rgba(255,255,255,0.2);
align-items: end;
padding: 0px 0px 0px 70px;
border-radius: 40px;
}

.introsection h1{
    font-size: 7rem;
}

.introsection h3{
    font-size: 4.5rem;
}

.raghavtxt{
    margin-top: -45px;
}