.headingtechiuse{
    background: #13A9CF;
background: linear-gradient(to right, #13A9CF 9%, #936BFF 100%, #7011CF 33%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size: 5rem;
text-align: center;
text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color: #13A9CF ;

}

.technologies{
    height: 120vh;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.justtocenterdiv{
    display: flex;
    justify-content: center;
    margin-top: 70px;
}


.reactsvgimg{
    height: 200px;
    position: relative;
    right: 20px;
}
.nodesvgimg{
    height: 180px;
}

.expresssvgimg{
    height: 160px;
    fill: white;
    background-color: white;
    padding: 30px 30px 10px 30px;
}

.framersvgimg{
    height: 160px;
    right: 50px;
    position: relative;
}

.gitsvgimg{
    height: 170px;
    position: relative;
    right: 30px;
}

.awssvgimg{
    height: 160px;
    position: relative;
    right: 10px; 
}

.mongosvgimg{
    height: 220px;
    position: relative;
    left: -0px;
}

.svgcontainer{
    width: 80%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 80vh;
    gap: 20px;
}
